body {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    background: white;
    font-family: 'Didact Gothic', sans-serif;
    color: #3a3a3a;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.rectangle {
    position: absolute;
    height: auto;
    width: 685px;
    background-color: transparent;
}

p {
    font-weight: 500;
    font-size: 16px;
}
